/*custom colors*/
:root {
    --main-red: #E68774;
    --main-orange: #F3BC85;
    --main-blue: #4A506A;
    --main-white: #EFEAD9;
}

/* Base reset */
* {
    margin: 0;
    padding: 0;
}

/* box-sizing and font sizing */
*,
*::before,
*::after {
    box-sizing: inherit;
}

html {
    box-sizing: border-box;

    /* Set font size for easy rem calculations
     * default document font size = 16px, 1rem = 16px, 100% = 16px
     * (100% / 16px) * 10 = 62.5%, 1rem = 10px, 62.5% = 10px
    */
    font-size: 62.5%;
    scroll-behavior: smooth;
    background-color: #EFEAD9;
    font-family: 'Montserrat Medium', sans-serif;
}

h1 {
    font-family: 'Yanone Kaffeesatz', Serif;
    letter-spacing: 12px;
    font-size: 100px;
    text-align: center;
    color: var(--main-orange);
}

h2 {
    font-size: x-large;
}

p {
    font-size: large;
}
/*Nav bar stuff*/
nav {
    position: fixed;
    width: 100%;
    box-shadow: 0 3px 10px 0 rgba(0, 0, 0, .2);
}

.nav-list {
    background-color: var(--main-red);
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

#menu {
    display: none;
}

nav li {
    float: right;
    width: 12%;
}

nav li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    height: 70px;
}
nav li a:hover {
    background-color: var(--main-white);
    color: black;
}

nav i {
    font-size: 30px;
    padding-bottom: 2px;
}

@media screen and (max-width: 850px) {
    nav {
        text-align: left;
    }

    nav li {
        float: none;
        width: 100%;
    }

    nav li a {

        text-align: left;
    }

    .checkbox {
        display: block;
    }

    .checkbox label {
        display: block;
        cursor: pointer;
        color: white;
        padding: 10px 0 10px 50px;
        float: right;
    }


    br {
        display: none;
    }

    .collapsible-menu label {
        display: block;
        cursor: pointer;
        background: url(images/hamburger-meal.png) no-repeat left center/60%;
        padding: 10px 10px 10px 50px;
        height: 48px;
    }

    /*navbar toggle Hide and icon change*/
    #menu-content {
        display: none;
        padding-top: 10px;
        width: 100%;

    }

    #menu-content span {
        font-size: 30px;
        padding-left: 20px;
        text-align: center;
    }

    input:checked + label {
        background-image: url(images/close.png);
    }

    #navbar input:checked ~ #menu-content {
        display: block;

    }


}
/*nav bar stuff end*/

/* welcome section*/
#welcome-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    background-color: var(--main-blue);
    color: white;

}

/*welcome end*/
/*about me start*/
#about-me {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    background-color: var(--main-red);
    color: white;
}

.about-heading {
    padding: 20px 0px 45px 0px;
}


.about-img {
    height: auto;
    width: 35%;
}

.about-info {
    width: 50%;
    padding: 50px 0px 50px 0px;

}

/*about me end*/

/*&project start*/
#projects {
    background-color: var(--main-white);
    color: var(--main-blue);
}

.project-section {
    padding: 115px 200px 30px 200px;
    text-align: center;
}

.projects-section-header {
    font-family: 'Yanone Kaffeesatz', Serif;
    letter-spacing: 4px;
    font-size: 55px;
    margin: 0 auto 45px auto;
    padding-bottom: 15px;
    color: var(--main-blue);

}

/*grid layout with auto resizing*/
.project-section {
    min-height: 100vh;
}
.project-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    grid-gap: 40px;
    width: 100%;
    max-width: 1300px;
    margin: auto;
}

@media screen and (max-width: 850px) {
    .project-grid {
        grid-template-columns: none;
        grid-gap: 15px;

    }

    .project-tile {
        min-width: 300px;
    }
}
.project-image {
    height: auto;
    width: 100%;
    object-fit: fill;
    margin-bottom: -3px;

}

.project-title {
    background-color: var(--main-blue);
    height: 60px;
    color: white;
    text-align: center;
    padding: 18px;
}

.project-tile {
    padding: 0px 25px 0px 25px;
    background-color: var(--main-red);
    text-decoration: none;
    max-width: 400px;
}

.code {
    padding: 0px 3px 1px 3px;
    color: var(--main-blue);
    transition: color 0.3s ease-out;
}

.project:hover .code {
    color: var(--main-white);
}

.project:hover .project-title {
    background-color: var(--main-red);
    transition: background-color 0.3s ease-out;
}

/*project end*/
.footer {
    min-height: 98vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    background-color: var(--main-blue);
    padding: 40px 50px 40px 50px;

}

.footer-heading {
    font-size: 100px;
    padding-bottom: 15px;
}

.footer-subheading {
    color: var(--main-white);
    font-size: 30px;
    font-style: italic;
    padding-bottom: 100px;
}

.contact-list {
    list-style-type: none;
    text-align: center;
    color: var(--main-red);
    padding-bottom: 20px;
}

.footer-icon-link {
    display: inline-block;
    font-size: xxx-large;
    color: var(--main-white);
    text-decoration: none;
    padding: 0px 40px 40px 40px;

}

.fa-linkedin {
    color: #0A66C2;
}

.fa-github {
    color: black;
}

/*wavy link underline stuff*/
.link {
    position: relative;
    transition: clip-path 275ms ease;
}

.link:hover span::before, .link:focus span::before {
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
}

.link span {
    position: relative;
    display: inline-block;
    padding-right: 10px;

}

.link span::before {
    position: absolute;
    content: attr(data-content);
    color: var(--main-white);
    text-decoration: underline;
    text-decoration-color: var(--main-red);
    clip-path: polygon(0 0, 0 0, 0% 100%, 0 100%);
    transition: clip-path 500ms ease;
    padding-bottom: 4px;
}

span.double::before {
    text-decoration-style: double;
}

/*wavy link underline stuff finishes*/

/*footer section start*/


